
<div class="h-40 w-full"></div>
<div class="fixed bottom-0 w-full z-[99] bg-white pt-5">
<div class="split-line h-[1px] border-b border-gray-200 border-solid"></div>
<div class="bottom-footer my-10 flex flex-row w-[986px] mx-auto justify-between">
    <div class="social flex">
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
            <img  class="svg-icon !w-4 !h-4 !p-0" src="/assets/img/github-dark.svg" />
            <span class="username">{{ site.github_username }}</span>
        </a>
        {% endif %}
    </div>
    <div class="description flex">
        {% if site.description %}
        <div class="flex text-slate-500">
            <span class="username">{{ site.description }}</span>
        </div>
        {% endif %}
    </div>
</div>
</div>