@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./minima.scss";

.post-content p{
    margin-top: 1rem;
}
.post-content .highlighter-rouge{
    margin-top: 0.25rem
}

a, a:visited, a:hover{
    text-decoration-line: none !important;
    color: unset;
    cursor: pointer;
}

a:hover{
    color: #333333;
}

/* hack for safari */
.\!line-clamp-3{
    *{
        display: inline;
    }
}