---
layout: home
---
{% include head.html %}
<div class="w-full">
    {% include topHeader.html %}
    <div class="w-[986px] mx-auto my-5 flex flex-col">
        <div class="!text-2xl">Posts</div>
        <div class="page-content my-3 flex flex-col gap-5">
            {% for item in site.posts %}
            <div class="post-in-page flex flex-col mb-5 border-b border-dashed border-slate-300 pb-10 last:border-none">
                <div class="post-title !text-2xl">
                    <a href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                </div>
                <div class="post-preview mt-2 !text-base text-slate-500 !line-clamp-3">
                    {{ item.content }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include bottomFooter.html %}
</div> 
