---
layout: post
---
<link href="/assets/css/main.css" rel="stylesheet"  />
<div class="w-full">
    {% include topHeader.html %}
    <div class="w-[986px] mx-auto my-5 flex flex-col gap-4">
        <div class="nav flex justify-between flex-row">
            <div class="flex">
                {% if page.previous %}
                <a href="{{ page.previous.url }}">
                    <span class="">上一篇: {{ page.previous.title }}</span>
                </a>
                {% endif %}
            </div>
            <div class="flex">
                {% if page.next %}
                <a href="{{ page.next.url }}">
                    <span class="">下一篇: {{ page.next.title }}</span>
                </a>
            {% endif %}
            </div>
        </div>
        <div class="title flex flex-row justify-between">
            <div class="text-3xl flex ">
                {{ page.title }}
            </div>
            <div class="date flex text-sm text-slate-500 items-end">
                {{ page.date | date: "%Y-%m-%d %H:%M" }}
            </div>
        </div>
        <div class="post-content my-2 mb-5">
            {{ content }}
        </div>
    </div>
    {% include bottomFooter.html %}
</div> 
